<section class="content">
    <section class="invoice">
        <form novalidate>
            <div class="row invoice-info">
                <div class="col-sm-6 col-xs-12">
                    <bkn-input-container errorMessage="Valor da Lançamento é obrigatório" label="Valor">
                        <input type="text" class="form-control" id="amount" placeholder="R$ 0,00"
                            formControlName="amount" name="totalAmount" autocomplete="off" mask="separator.2"
                            thousandSeparator=".">
                    </bkn-input-container>
                </div>
            </div>
        </form>
    </section>
</section>