<section class="content">
    <section class="invoice">
      <form [formGroup]="launchForm"  novalidate (submit)="onSubmit(launchForm)">
        <input type="hidden" formControlName="id" name="id" id="id" />
        <div class="row">
          <div class="col-xs-12">
            <h2 class="page-header">
              <i class="fa fa-credit-card"></i> Lançamento
            </h2>
          </div>
        </div>
  
        <div class="row invoice-info">
          <div class="col-sm-6 col-xs-12">
            <bkn-input-container errorMessage="Valor da Lançamento é obrigatório" label="Valor" [showTip]="false">
              <input type="text" class="form-control" id="amount" placeholder="R$ 0,00" formControlName="amount"
                name="totalAmount" currencyMask [options]="{prefix: '', thousands:'.', decimal:',', allowNegative:false}">
            </bkn-input-container>
          </div>
          <div class="col-sm-6 col-xs-12">
            <bkn-input-container errorMessage="Data de agendamento inválida" label="Data agendamento" [showTip]="false">
              <input type="date" class="form-control" id="schedule" placeholder="Agendamento"
                formControlName="scheduleDate" name="scheduleDate">
            </bkn-input-container>
          </div>
        </div>
        
        <div class="row invoice-info">
          <div class="col-sm-6 col-xs-12">
            <label class="control-label" for="paymentType">Forma de pagamento</label>
            <select class="form-control form-control-lg" formControlName="paymentType">
              <option value="" disabled>Selecione...</option>
              <option *ngFor="let payment of paymentTypeList" [ngValue]="payment.value">{{payment?.label}}</option>
            </select>
          </div>
          <div class="col-sm-6 col-xs-12">
            <label class="control-label" for="paymentStatus">Status pagamento</label>
            <select class="form-control form-control-lg" formControlName="paymentStatus" (change)="showPaymentDate($event.target)">
              <option value="" disabled>Selecione...</option>
              <option *ngFor="let bs of paymentStatusList" [ngValue]="bs.value">{{bs?.label}}</option>
            </select>
          </div>
        </div>
  
  
        <div class="row invoice-info" *ngIf="showPaymentDateField">
          <div class="col-sm-6 col-xs-12">
              <bkn-input-container errorMessage="Data de pagamento inválida" label="Data pagamento" [showTip]="false">
                <input type="date" class="form-control" id="paymentDate" placeholder="Data pagamento"
                  formControlName="paymentDate" name="paymentDate" >
              </bkn-input-container>
            </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success pull-right" value="Salvar">
              <i class="fa fa-user-plus"></i> Salvar
            </button>
            <button [mat-dialog-close] class="btn btn-danger pull-right" value="Cancelar">
              <i class="fa fa-close"></i> Cancelar
            </button>
          </div>
        </div>
      </form>
    </section>
  </section>
