<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form novalidate >
           

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-credit-card"></i> Próximos Lançamentos Pendentes
          </h2>
        </div>
      </div>

      <div class="table-home-box-item" >

        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th>Data agendamento</th>  
              <th>Viajante</th>
              <th>Check-in</th>
              <th>Valor</th>
              <th>Tipo Pagamento</th>
              
            </tr>
          </thead>
          <tbody>
           
            <tr *ngFor="let launch of launchs; let i=index;">
                <td>{{launch.scheduleDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{launch.travelerName}}</td>
                <td>{{launch.checkIn | date: 'dd/MM/yyyy'}}</td>
                <td>{{launch.amount | currency:'BRL':true}}</td>
                <td>{{launch.paymentType | paymentType}}</td>
            </tr>
          
          </tbody>

        </table>

      </div>

    </form>

  </section>
</section>
