<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form  [formGroup]="updateForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-user"></i> Atualização de Viajantes 
          </h2>
        </div>
      </div>

      <div class="row invoice-info">

        <div class="col-sm-6 col-xs-8">

          <bkn-input-container errorMessage="Nome é obrigatório" label="Nome">
            <input type="text" class="form-control" name="name" id="name" placeholder="Nome completo" 
            formControlName="name" autocomplete="off">
          </bkn-input-container>
        </div>
        <div class="col-sm-4 col-xs-4">

          <bkn-input-container errorMessage="CPF inválido" label="CPF">
            <input type="text" class="form-control" id="document" placeholder="CPF" 
            formControlName="document" name="document" >
          </bkn-input-container>  
         
        </div>

      </div>
      <div class="row invoice-info">
        <div class="col-sm-4 col-xs-6">

          <bkn-input-container errorMessage="Email inválido" label="E-mail">
            <input type="text" class="form-control" id="email" placeholder="E-mail" formControlName="email"
            name="email" autocomplete="off" >
          </bkn-input-container>
          
        </div>
        <div class="col-sm-2 col-xs-4">
          <bkn-input-container errorMessage="DDD é obrigatório e deve ser numérico" label="DDD">
            <input type="text" class="form-control" id="prefixPhone" placeholder="DDD" formControlName="prefixPhone"
                  maxlength="2" name="prefixPhone" >
          </bkn-input-container>
            
        </div>
        <div class="col-sm-4 col-xs-6">
          <bkn-input-container errorMessage="Telefone é obrigatório" label="Telefone">
            <input type="text" class="form-control" id="numberPhone" placeholder="Telefone" formControlName="numberPhone"
                    maxlength="9" name="numberPhone" >
          </bkn-input-container>        
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
       
         <button  (click)= "updateTraveler()" class="btn btn-success pull-right" value="Cadastrar" [disabled]="!updateForm.valid">
          <i class="fa fa-pencil"></i> Atualizar
        </button>
          <a [routerLink]="['/travelers']" class="btn btn-danger pull-right">
            <i class="fa fa-close"></i> Cancelar
          </a>
        </div>
      </div>

    </form>

    

  </section>
</section>
<!-- FIM DO CONTEUDO-->