<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form  [formGroup]="createForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-suitcase"></i> Cadastro de Reservas 
          </h2>
        </div>
      </div>

      <div class="row invoice-info">

        <div class="col-sm-6 col-xs-8">
          <select class="form-control form-control-lg" formControlName="traveler">
            <option value="" disabled>Viajante...</option>
            <option *ngFor="let trav of travelers" 
                    [ngValue]="trav.id">{{trav?.name}}</option>
          </select>
        </div>
        <div class="col-sm-3 col-xs-4">

          <bkn-input-container errorMessage="Data de check-in inválida" label="Check in">
            <input type="datetime-local" class="form-control" id="checkIn" placeholder="Check in" 
            formControlName="checkIn" name="checkIn" >
          </bkn-input-container>  
         
        </div>
        <div class="col-sm-3 col-xs-4">

          <bkn-input-container errorMessage="Data de check-out inválida" label="Check out">
            <input type="datetime-local" class="form-control" id="checkOut" placeholder="Check out" 
            formControlName="checkOut" name="checkOut" >
          </bkn-input-container>
         
        </div>
        

      </div>
      <div class="row invoice-info">
        <div class="col-sm-3 col-xs-6">

          <bkn-input-container errorMessage="Valor da Reserva é obrigatório" label="Valor da Reserva">
            <input type="text" class="form-control" id="totalAmount" placeholder="Valor Total" formControlName="totalAmount"
            name="totalAmount" autocomplete="off" mask="separator.2" thousandSeparator=".">
          </bkn-input-container>
          
        </div>
        <div class="col-sm-3 col-xs-4">
          <select class="form-control form-control-lg" formControlName="bookingStatus">
            <option value="" disabled>Situação...</option>
            <option *ngFor="let bs of bookingStatusList" 
                    [ngValue]="bs.value">{{bs?.label}}</option>
          </select>
        </div>
        <div class="col-sm-3 col-xs-6">
          <select class="form-control form-control-lg" formControlName="paymentStatus">
            <option value="" disabled>Pagamento...</option>
            <option *ngFor="let payment of paymentStatusList" 
                    [ngValue]="payment.value">{{payment?.label}}</option>
          </select>        
        </div>
        <div class="col-sm-3 col-xs-6">
          <select class="form-control form-control-lg" formControlName="contractType">
            <option value="" disabled>Tipo de Contrato...</option>
            <option *ngFor="let contract of contractTypeList" 
                    [ngValue]="contract.value">{{contract?.label}}</option>
          </select>        
        </div>

      </div>

      <div class="row invoice-info">
        <div class="col-sm-3 col-xs-6">
          <bkn-input-container errorMessage="Quantidade de adultos é obrigatório" label="Adultos">
            <input type="number" max="8" min="1" class="form-control" id="adults" placeholder="Adultos" formControlName="adults"
                    name="adults" >
          </bkn-input-container>
         </div>
         <div class="col-sm-3 col-xs-6">
          <bkn-input-container errorMessage="Quantidade de crianças é obrigatório" label="Crianças">
            <input type="number" max="7" min="0" class="form-control" id="children" placeholder="Crianças" formControlName="children"
                    name="children" >
          </bkn-input-container>
         </div>
      </div> 
      <div class="row">
        <div class="col-xs-12">
       
         <button  (click)= "create()" class="btn btn-success pull-right" value="Cadastrar" [disabled]="!createForm.valid">
          <i class="fa fa-calendar-plus-o"></i> Cadastrar
        </button>
        <button  (click)= "addLaunch()" class="btn btn-primary pull-right" value="Cadastrar" >
          <i class="fa fa-plus"></i> Lançamento
        </button>
          <a [routerLink]="['/bookings']" class="btn btn-danger pull-right">
            <i class="fa fa-close"></i> Cancelar
          </a>
        </div>
      </div>

    </form>

  </section>
</section>

<!-- FIM DO CONTEUDO-->
<!--
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>
-->
