<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="bookingForm" novalidate >
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-suitcase"></i> Dados da Reserva
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        
        <div class="col-sm-6 col-xs-8">
          <label class="control-label" for="travelerId">Viajante</label>
          <select class="form-control form-control-lg" formControlName="travelerId">
            <option value="" disabled>Selecione...</option>
            <option *ngFor="let trav of bookingService.travelers" [ngValue]="trav.id">{{trav?.name}}</option>
          </select>
        </div>
        <div class="col-sm-3 col-xs-4">

          <bkn-input-container errorMessage="Data de check-in inválida" label="Check in">
            <input type="datetime-local" class="form-control" id="checkIn" placeholder="Check in"
              formControlName="checkIn" name="checkIn">
          </bkn-input-container>

        </div>
        <div class="col-sm-3 col-xs-4">

          <bkn-input-container errorMessage="Data de check-out inválida" label="Check out">
            <input type="datetime-local" class="form-control" id="checkOut" placeholder="Check out"
              formControlName="checkOut" name="checkOut">
          </bkn-input-container>

        </div>


      </div>
      <div class="row invoice-info">
        <div class="col-sm-3 col-xs-6">

          <bkn-input-container errorMessage="Valor da Reserva é obrigatório" label="Valor da Reserva">
            <input type="text" class="form-control" id="totalAmount" placeholder="0,00"
              formControlName="totalAmount" name="totalAmount" 
              autocomplete="off" 
              mask="separator.2"
              thousandSeparator="." 
              >
          </bkn-input-container>

        </div>
        <div class="col-sm-3 col-xs-6">
          <label class="control-label" for="contractType">Tipo de Contrato</label>
          <select class="form-control form-control-lg" formControlName="contractType">
            <option value="" disabled>Selecione...</option>
            <option *ngFor="let contract of bookingService.contractTypeList" [ngValue]="contract.value">{{contract?.label}}</option>
          </select>
        </div>
        <div class="col-sm-3 col-xs-6">
          <bkn-input-container errorMessage="Quantidade de adultos é obrigatório" label="Adultos">
            <input type="number" max="8" min="1" class="form-control" id="adults" placeholder="1-8"
              formControlName="adults" name="adults">
          </bkn-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <bkn-input-container errorMessage="Quantidade de crianças é obrigatório" label="Crianças">
            <input type="number" max="7" min="0" class="form-control" id="children" placeholder="0-7"
              formControlName="children" name="children">
          </bkn-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-credit-card"></i> Lançamentos
          </h2>
        </div>
      </div>

      <div class="table-home-box-item" >

        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th>Valor</th>
              <th>Data agendamento</th>
              <th>Situação</th>
              <th>Tipo Pagamento</th>
              <th>Data Pagamento</th>
              <th>
                <a (click)="openLaunchDialog(null, bookingService.booking?.id)" class="btn btn-primary pull-right" value="Cadastrar">
                  <i class="fa fa-plus"></i> Lançamento
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            

            <tr *ngFor="let launch of bookingService.launchs; let i=index;">
              <td>{{launch.amount}}</td>
              <td>{{launch.scheduleDate}}</td>
              <td>{{launch.paymentStatus}}</td>
              <td>{{launch.paymentType}}</td>
              <td>{{launch?.paymentDate}}</td>
              <td colspan="2">
                <a (click)="openLaunchDialog(i, bookingService.booking?.id)" class="btn btn-sm btn-info" value="Editar">
                  <i class="fa fa-pencil"></i>
                </a>
                <a (click)="removeLaunch(launch?.id, i)" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i>
                </a>

              </td>
            </tr>

          </tbody>

        </table>

      </div>

      <div class="row">
        <div class="col-xs-12">

          <button (click)="create()" class="btn btn-success pull-right" value="Cadastrar"
            >
            <i class="fa fa-calendar-plus-o"></i> Cadastrar
          </button>
         
          <a [routerLink]="['/bookings']" class="btn btn-danger pull-right">
            <i class="fa fa-close"></i> Cancelar
          </a>
        </div>
      </div>

    </form>

  </section>
</section>