<div class="row invoice-info">
  <div class="col-sm-2 col-xs-6">
    <bkn-input-container errorMessage="Valor é obrigatório" label="Valor">
      <input type="text" class="form-control" id="amount" placeholder="Valor" formControlName="amount"
              name="amount" >
    </bkn-input-container>
   </div>
   <div class="col-sm-2 col-xs-6">
    <bkn-input-container errorMessage="Data de agendamento é obrigatório" label="Data agendamento">
      <input type="date"  class="form-control" id="scheduleDate" placeholder="Data agendamento" formControlName="scheduleDate"
              name="scheduleDate" >
    </bkn-input-container>
   </div>
   <div class="col-sm-2 col-xs-6">
    <select class="form-control form-control-lg" formControlName="paymentType">
      <option value="" disabled>Forma de Pagamento...</option>
      <option *ngFor="let contract of contractTypeList" 
              [ngValue]="paymentType.value">{{paymentType?.label}}</option>
    </select>
   </div>
   <div class="col-sm-2 col-xs-6">
    <select class="form-control form-control-lg" formControlName="paymentStatus">
      <option value="" disabled>Pagamento...</option>
      <option *ngFor="let contract of contractTypeList" 
              [ngValue]="paymentStatus.value">{{paymentStatus?.label}}</option>
    </select>
   </div>
</div>
