<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 48rem; text-align: left;">
          <div class="card-body">
           
            <ul class="list-group">
              <h3>
              <li class="list-group-item list-group-item-action active" aria-current="true" >
                Lançamentos
                <span class="badge bg-primary rounded-pill" >R$ 16.085,00</span>
              </li>
                
              </h3>
              <li class="list-group-item list-group-item-success" style="text-align: center;"><b>Direto com viajante</b></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Em atraso
                <span class="badge bg-primary rounded-pill">R$ 400,00</span>
                <span class="badge bg-primary rounded-pill">1</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                A receber
                <span class="badge bg-primary rounded-pill">R$ 7.800,00</span>
                <span class="badge bg-primary rounded-pill">8</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Sub total
                <span class="badge bg-primary rounded-pill">R$ 8.200,00</span>
              </li>
              <li class="list-group-item list-group-item-success" style="text-align: center;"><b>Site</b></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">A receber<span class="badge bg-primary rounded-pill">3</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Sub total<span class="badge bg-primary rounded-pill">R$ 7.485,00</span>
              </li>

            </ul>
          </div>

        </div>
      </div>

    
        <div class="col-sm-6">
          <div class="card" style="width: 48rem; text-align: left;">
            <div class="card-body">
              
              <ul class="list-group">
                <h3>
                <li class="list-group-item active" aria-current="true">Reservas<span class="badge bg-primary rounded-pill">12</span></li>
                </h3>
                
                <li class="list-group-item list-group-item-success" style="text-align: center;"><b>Situação</b></li>
                <li class="list-group-item">Reservado<span class="badge bg-primary rounded-pill">9</span></li>
                <li class="list-group-item">Pre-Reservado<span class="badge bg-primary rounded-pill">3</span></li>
                
                <li class="list-group-item list-group-item-success" style="text-align: center;"><b>Pagamento</b></li>
                <li class="list-group-item">Pago<span class="badge bg-primary rounded-pill">5</span></li>
                <li class="list-group-item">Pendente<span class="badge bg-primary rounded-pill">7</span></li>

                <li class="list-group-item list-group-item-success" style="text-align: center;"><b>Contrato</b></li>
                <li class="list-group-item">Site<span class="badge bg-primary rounded-pill">3</span></li>
                <li class="list-group-item">Direto com viajante<span class="badge bg-primary rounded-pill">9</span></li>
                
         

              </ul>
            </div>
  
          </div>
        </div>


      
    </div>
    
     
     
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
