<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Lançamentos</h3>
            <ngb-multi-date-picker [datesSelected]="datesSelected"></ngb-multi-date-picker>
          </div>
        </div>
      </div>
      <div class="col-sm-6">

        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
 

</section>
<!-- FIM DO CONTEÚDO -->